<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApuySJM-z0JVxHcmv6cp33XQM1opg99M0</string>
	<key>GCM_SENDER_ID</key>
	<string>999050667905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bidding</string>
	<key>PROJECT_ID</key>
	<string>bidding-c5a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>bidding-c5a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999050667905:ios:7fbc9ad1b8912331246a80</string>
</dict>
</plist>